@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
:root {
    --header-height: 3rem;
    --nav-width: 68px;
    --first-color: #3A0561;
    --first-color-light: #afa5d9;
    --white-color: #f7f6fb;
    --body-font: "Nunito", sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100;
}

*,
::before,
::after {
    box-sizing: border-box;
}

body {
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: 0.5s;
}

.button {
    background-color: #eee;
    padding: 10px;
    cursor: pointer;
}

.popup {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translate(0, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    opacity: 0;
    /* Mulai dengan opacity 0 */
    transition: opacity 0.3s ease;
}

.button-popup {
    visibility: hidden;
    color: #fff;
    background-color: rgb(253, 178, 17);
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    /* Mengubah bentuk button menjadi lingkaran */
    width: 80px;
    /* Atur lebar button sesuai kebutuhan */
    height: 80px;
    /* Atur tinggi button sesuai kebutuhan */
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    /* Menempatkan button di sudut kanan bawah */
    animation: bubble 2s ease-in-out infinite alternate;
}

@keyframes bubble {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.button-popup svg {
    width: 40px;
    height: 40px;
}

.btn-ambil {
    background-color: var(--first-color);
    color: white;
    border-radius: 10px;
}

.popup-content {
    background-color: #fff;
    padding: 2%;
    width: 80%;
    max-width: 400px;
    height: auto;
    max-height: 100%;
    border-radius: 20px;
    text-align: center;
}

.popup-content img {
    width: 50%;
    height: auto;
}

.show-popup {
    display: flex;
    opacity: 1;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://i.pinimg.com/564x/53/cd/e5/53cde5e121d81784e6bfca4115c0feb1.jpg");
    opacity: 0.2;
    z-index: -1;
}

.body-pd {
    padding-left: calc(var(--nav-width) + 1rem);
}

a {
    text-decoration: none;
}

.link-usul {
    color: var(--first-color);
}

svg#freepik_stories-questions {
    width: 300px;
}

svg#freepik_stories-questions:not(.animated) .animable {
    opacity: 0;
}

svg#freepik_stories-questions.animated #el3vfqqin5kc9 {
    animation: 1.1s 1 forwards ease-out fadeIn;
    animation-delay: 0s;
}

svg#freepik_stories-questions.animated #elxocfhq7ppk {
    animation: 1.1s 1 forwards ease-out fadeIn;
    animation-delay: 0.3666666666666667s;
    opacity: 0
}

svg#freepik_stories-questions.animated #elmsfx4yvn1vr {
    animation: 1.1s 1 forwards ease-out fadeIn;
    animation-delay: 0.7333333333333334s;
    opacity: 0
}

svg#freepik_stories-questions.animated #freepik--question-marks--inject-4 {
    animation: 1.1s 1 forwards ease-out fadeIn, 1.5s Infinite linear floating;
    animation-delay: 0s, 1.1s;
}

svg#freepik_stories-questions.animated #freepik--Character--inject-4 {
    animation: 1.5s Infinite linear wind;
    animation-delay: 0s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes floating {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes wind {
    0% {
        transform: rotate( 0deg);
    }
    25% {
        transform: rotate( 1deg);
    }
    75% {
        transform: rotate( -1deg);
    }
}

.container-pinjambuku {
    max-width: 100%;
    width: 40%;
    max-height: 1200px;
    height: auto;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.container-detailpinjam {
    max-width: 100%;
    width: 40%;
    max-height: 1200px;
    height: auto;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.container-usulbuku {
    max-width: 100%;
    width: 40%;
    max-height: 1200px;
    height: auto;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.submit-btn-pinjam {
    width: 100%;
    background-color: var(--first-color);
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

.detailpinjam_page {
    color: var(--first-color);
}

.detailpinjam {
    text-align: center;
    color: var(--first-color);
}

.pengambilan-buku {
    text-align: left;
}

.detailpinjam img {
    width: 150px;
    height: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.card-layanan {
    margin: auto;
}

.card-layanan .card-header {
    background-color: var(--first-color);
    color: white;
}

.carousel {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.carousel-inner .carousel-item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-width: 1400px;
    max-height: 400px;
}

.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: var(--white-color);
    z-index: var(--z-fixed);
    transition: 0.5s;
}

.container-detailbuku {
    background-color: rgb(255, 255, 255);
    width: 100%;
    max-width: 1400px;
    padding: 25px;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
}

.card-detail {
    width: 18rem;
}

.container-detailbuku img {
    filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.3));
}

#header {
    background-color: var(--white-color);
}

.content-favorit {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content-riwayat {
    display: flex;
    align-items: center;
    justify-content: center;
}

.table-riwayat {
    background-color: #462261;
    border-collapse: collapse;
    max-width: 1000px;
    width: 50%;
    height: auto;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.table-riwayat td {
    background-color: #ffffff;
    color: #000000;
    padding-left: 10px;
    text-align: left;
}

.table-riwayat th {
    padding-left: 10px;
    background-color: var(--first-color);
    color: #ffecec;
}

.btn-kembali {
    width: 100px;
    height: 30px;
    background-color: var(--first-color);
    color: rgb(255, 255, 255);
    border-radius: 3px;
    border: 0;
}

.btn-pinjam {
    width: 100px;
    height: 30px;
    background-color: rgb(241, 195, 13);
    color: rgb(255, 255, 255);
    border-radius: 3px;
    border: 0;
}

.header_toggle {
    color: var(--first-color);
    font-size: 1.5rem;
    cursor: pointer;
}

.header_img {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
}

.header_img img {
    width: 40px;
}

.l-navbar {
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--first-color);
    padding: 0.5rem 1rem 0 0;
    transition: 0.5s;
    z-index: var(--z-fixed);
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.nav_img {
    width: 100px;
    height: 100px;
    align-items: center;
    object-fit: cover;
}

.nav_logo,
.nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: 0.5rem 0 0.5rem 1.5rem;
}

.nav_logo {
    margin-bottom: 2rem;
}

.nav_logo-icon {
    font-size: 1.25rem;
    color: var(--white-color);
}

.nav_logo-name {
    color: var(--white-color);
    font-weight: 700;
}

.nav_link {
    position: relative;
    color: var(--first-color-light);
    margin-bottom: 1.5rem;
    transition: 0.3s;
}

.nav_link:hover {
    color: var(--white-color);
}

.home_page {
    color: var(--first-color);
}

.home_page_detailbuku {
    color: var(--first-color);
    padding-top: 5rem;
}

.nav_icon {
    font-size: 1.25rem;
}

.show {
    left: 0;
}

.active {
    color: var(--white-color);
}

.active::before {
    content: "";
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--white-color);
}

.height-100 {
    height: 100vh;
}

.katalog_buku {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    box-shadow: inset;
}

.card-text-status {
    text-align: right;
}

.card-body {
    line-height: 0.3;
}

a {
    color: black;
}

a:hover {
    color: black;
}

.card {
    max-height: 400px;
    width: 13rem;
    height: auto;
    background-color: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.card-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.search-bar {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.search-bar input[type="text"] {
    flex: 1;
    padding: 4px;
    border-radius: 6px;
}

.search-bar button[type="submit"] {
    padding: 5px 10px;
    background-color: var(--first-color);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}

.table_favorit {
    min-height: 100vh;
    background-color: #462261;
    border-collapse: collapse;
    max-width: 1000px;
    width: 100%;
    height: auto;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    margin-top: 40px;
}

.table_favorit td {
    padding-left: 20px;
    background-color: #ffffff;
    color: #000000;
    padding-left: 10px;
    text-align: left;
}

.table_favorit img {
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 100px;
    filter: drop-shadow(10px 10px 7px rgba(0, 0, 0, 0.556));
    border-radius: 10px;
}

.table_favorit th {
    padding-left: 15px;
    color: #ffecec;
}

.favorite-button {
    background-color: transparent;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.favorite-button.favorite {
    color: #ff0000;
    /* Warna ikon merah saat menjadi favorit */
}

.love-button {
    font-size: 24px;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #000;
}

.love-button.clicked {
    color: #ff0000;
}

@media screen and (min-width: 768px) {
    body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 2rem);
    }
    .header {
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
    }
    .header_img {
        width: 40px;
        height: 40px;
    }
    .header_img img {
        width: 45px;
    }
    .l-navbar {
        left: 0;
        padding: 1rem 1rem 0 0;
    }
    .show {
        width: calc(var(--nav-width) + 156px);
    }
    .body-pd {
        padding-left: calc(var(--nav-width) + 188px);
    }
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }
    .header_img {
        width: 10px;
        height: 10px;
    }
    .header_img img {
        width: 25px;
    }
    .card {
        font-size: 10px;
        max-height: 220px;
        width: 6.5rem;
        height: auto;
        background-color: #ffffff;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    }
    .card h5 {
        font-size: 12px;
    }
    .card-body {
        line-height: 0.1;
    }
    .show {
        width: calc(var(--nav-width) + 125px);
    }
    .body-pd {
        padding-left: (var(--nav-width) + 150px);
    }
    .container-detailbuku {
        background-color: rgb(255, 255, 255);
        width: 100%;
        max-width: 500px;
        padding: 25px;
        border-radius: 5px;
        margin-top: 20px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .card-detail {
        width: 14rem;
    }
    .deskripsi-buku {
        font-size: 11px;
    }
    .table-riwayat {
        background-color: #462261;
        border-collapse: collapse;
        max-width: 500px;
        width: 40%;
        height: auto;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
        font-size: 15px;
    }
    .table-riwayat td {
        background-color: #ffffff;
        color: #000000;
        padding-left: 5px;
        text-align: left;
    }
    .table-riwayat th {
        padding-left: 25px;
        background-color: var(--first-color);
        color: #ffecec;
        padding-right: 20px;
    }
    .table_favorit {
        min-height: 100vh;
        background-color: #462261;
        border-collapse: collapse;
        max-width: 80%;
        width: 80%;
        height: auto;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
        font-weight: bold;
        font-size: 15px;
        text-align: center;
    }
    .table_favorit td {
        width: 20px;
        padding-left: 5px;
        padding-right: 5px;
        background-color: #ffffff;
        color: #000000;
        text-align: left;
        font-size: 15px;
        text-align: center;
    }
    .table_favorit img {
        padding-right: 5px;
        padding-left: 5px;
        max-width: 70px;
        filter: drop-shadow(10px 10px 7px rgba(0, 0, 0, 0.556));
        border-radius: 10px;
        font-size: 15px;
        text-align: center;
    }
    .table_favorit th {
        height: 20px;
        width: 20px;
        padding-left: 5px;
        padding-right: 5px;
        color: #ffecec;
        font-size: 15px;
        text-align: center;
    }
    .container-usulbuku {
        max-width: 100%;
        width: 90%;
        max-height: 1200px;
        height: auto;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        font-size: 15px;
    }
    .container-usulbuku h5 {
        font-size: 15px;
    }
    .container-usulbuku h4 {
        font-size: 18px;
    }
    .container-usulbuku svg {
        max-width: 100%;
        width: 40%;
    }
    .container-detailpinjam {
        max-width: 100%;
        width: 90%;
        max-height: 100%;
        height: auto;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    }
}


/* CSS untuk layar dengan lebar kurang dari atau sama dengan 768px (misalnya, smartphone) */