:root{
    --primary:#3A0561 ;
    --color1:#A551E7;
    --color2:#830BDF;
    --color3:#462260;
    --color4:#6708AE;
    --color5:#D28727;
    --color6:#f39419;
    --coloropt:#fff;
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://i.pinimg.com/564x/53/cd/e5/53cde5e121d81784e6bfca4115c0feb1.jpg");
  opacity: 0.2;
  z-index: -1;
}


/* navbar utama */
.navbar-expand-lg{
  background-color: var(--color4) !important;
  border-bottom: 10px solid var(--color5);
  z-index: 9999 !important;
  .container-fluid{
    color: #fff !important;
    background-color: var(--color4) !important;
    .navbar-toggler{
      border: 0 !important;
    }
  }
}

.nav-link.dropdown-toggle,
.nav-link.active{
  font-weight: 900 !important;
  color: #fff !important;
}
.nav-link.dropdown-toggle:hover,
.nav-link.active:hover{
  color: #D28727 !important;
}

.dropdown-item{
  font-weight: bold !important;
  color: var(--primary) !important;
}

.dropdown-item:hover{
  color: var(--color5) !important;
}

.btn-primary{
  font-weight: 600 !important;
  background-color: var(--color5) !important;
  border: 0 !important;
  border-radius: 20px !important;
}

.btn-primary:hover{
  background-color: #ac6d1c !important;
  border: 0 !important;
  color: #5b0000 !important;
}

/* carousel */
.carousel-brd .carousel{
  justify-content: center !important;
  max-width: 10000px;
}

.carousel-inner {
  width: 100vw !important;
}

#carouselExampleInterval{
  justify-content: center !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  justify-content: center !important;
  width: 50px !important;
  height: 50px !important;
  background-color: #A551E7 !important;
  border-radius: 40px;
}



/* kata2 */
.membaca {
  text-align: center;
  padding: 3rem;
  margin: 2rem;
}

.membaca .yuk h2{
  font-size:xx-large;
  font-weight: bold;
  color: var(--color3);
}

.membaca .yuk h2 span{
   color: var(--color5);
}

.membaca .yuk-baca{
  padding-top: 0 ;
  font-style: oblique;
}

.membaca .yuk-baca span{
  font-weight: bold;
  color: #D28727;
}

.membaca .bacabuku{
  color: var(--primary);
  display:flex;
  flex-direction: row;
  padding-top: 5rem;
  text-align: justify;
}

.membaca .bacabuku .animated{
  padding-right: 5rem;
  width: 5000px;
  height: auto;
}

/* panduan-masuk */
.panduan-masuk {
  justify-content: center ;
  text-align: center;
  padding-bottom: 5rem;
}

.panduan-masuk a{
  font-weight: bold;
  color: var(--color5);
  text-decoration: none;
}

.panduan-masuk a:hover{
  font-weight: bold;
  color: #6b0000;
  text-decoration: none;
}

.panduan-masuk h2{
  font-weight: bold;
}

/* footer */
.bagianbawah{
  justify-content: center;
  background-color: var(--color4);
  border-bottom: 10px solid var(--color5);
  color: #fff;
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 5rem;
  display: flex;
  flex-direction: row;
}

.bagianbawah .perpustakaan .jadwal .judul{
  font-weight: bold;
  line-height: 4;
}

.bagianbawah .perpustakaan .jadwal{
  line-height: 1;
}

.bagianbawah h1,
.bagianbawah h2{
  font-weight: 600;
}

.bagianbawah .contact h1{
  padding-bottom: 3.2rem;
}

.bagianbawah .contact{
  padding-left: 20rem;
}

.bagianbawah .contact .telp span,
.bagianbawah .perpustakaan span{
  display: block;
}

.bagianbawah .contact span{
  font-size: large;
  font-weight: bolder;
}

.contact .telp #icon{
  display: flex;
  flex-direction: column;
}

/* footer paling bawah */
.f-bawah{
  background-color: var(--color3);
  color: #fff;
  justify-content: center;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 0.7rem;
}

/* khusus caorusel di fitur */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  height: 150vh;
}

/* judul fitur */
.judul-fitur h1{
  text-decoration: underline solid var(--primary);
  font-weight: bold;
  text-align: center;
  color: var(--color5);
  padding: 5rem;
}
.judul-fitur span{
  color: var(--color3);
}

.wrapper {
  /* background: linear-gradient(60deg, #40026f, #A551E7, #40026f); */
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.carousel {
  position: relative;
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.carousel__item {
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  padding: 0 12px;
  opacity: 0;
  filter: drop-shadow(0 2px 2px #555);
  will-change: transform, opacity;
  -webkit-animation: carousel-animate-vertical 27s linear infinite;
          animation: carousel-animate-vertical 27s linear infinite;
}

.carousel__item:nth-child(1) {
  -webkit-animation-delay: calc(3s * -1);
          animation-delay: calc(3s * -1);
}

.carousel__item:nth-child(2) {
  -webkit-animation-delay: calc(3s * 0);
          animation-delay: calc(3s * 0);
}

.carousel__item:nth-child(3) {
  -webkit-animation-delay: calc(3s * 1);
          animation-delay: calc(3s * 1);
}

.carousel__item:nth-child(4) {
  -webkit-animation-delay: calc(3s * 2);
          animation-delay: calc(3s * 2);
}

.carousel__item:nth-child(5) {
  -webkit-animation-delay: calc(3s * 3);
          animation-delay: calc(3s * 3);
}

.carousel__item:nth-child(6) {
  -webkit-animation-delay: calc(3s * 4);
          animation-delay: calc(3s * 4);
}

.carousel__item:nth-child(7) {
  -webkit-animation-delay: calc(3s * 5);
          animation-delay: calc(3s * 5);
}

/* .carousel__item:nth-child(8) {
  -webkit-animation-delay: calc(3s * 6);
          animation-delay: calc(3s * 6);
}

.carousel__item:last-child {
  -webkit-animation-delay: calc(-3s * 2);
          animation-delay: calc(-3s * 2);
} */

.carousel__item-head {
  border-radius: 50%;
  background-color: #d7f7fc;
  width: 90px;
  height: 90px;
  padding: 14px;
  position: relative;
  margin-right: -45px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}

.carousel__item-body {
  width: 100%;
  border-radius: 10px;
  padding: 16px 20px 16px 70px;
}

.carousel__item-body p{
  position: relative;
  padding-top: 2rem;
  color: var(--color5);
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
  text-shadow: none;
}

.title {
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 10px;
}

@-webkit-keyframes carousel-animate-vertical {
  0% {
    transform: translateY(100%) scale(0.5);
    opacity: 0;
    visibility: hidden;
  }
  3%, 11.1111111111% {
    transform: translateY(100%) scale(0.7);
    opacity: 0.4;
    visibility: visible;
  }
  14.1111111111%, 22.2222222222% {
    transform: translateY(0) scale(1);
    opacity: 1;
    visibility: visible;
  }
  25.2222222222%, 33.3333333333% {
    transform: translateY(-100%) scale(0.7);
    opacity: 0.4;
    visibility: visible;
  }
  36.3333333333% {
    transform: translateY(-100%) scale(0.5);
    opacity: 0;
    visibility: visible;
  }
  100% {
    transform: translateY(-100%) scale(0.5);
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes carousel-animate-vertical {
  0% {
    transform: translateY(100%) scale(0.5);
    opacity: 0;
    visibility: hidden;
  }
  3%, 11.1111111111% {
    transform: translateY(100%) scale(0.7);
    opacity: 0.4;
    visibility: visible;
  }
  14.1111111111%, 22.2222222222% {
    transform: translateY(0) scale(1);
    opacity: 1;
    visibility: visible;
  }
  25.2222222222%, 33.3333333333% {
    transform: translateY(-100%) scale(0.7);
    opacity: 0.4;
    visibility: visible;
  }
  36.3333333333% {
    transform: translateY(-100%) scale(0.5);
    opacity: 0;
    visibility: visible;
  }
  100% {
    transform: translateY(-100%) scale(0.5);
    opacity: 0;
    visibility: hidden;
  }
}

/* penjelasan */
.penjelasan{
  background: linear-gradient(180deg, transparent, rgb(177, 177, 177));
  top: 0;
  justify-content: center;
  border-bottom: 10px solid var(--color5);
}

.penjelasan h1{
  color: var(--color5);
  font-weight: bold;
  padding-top: 3rem;
  text-align: center;
}

.penjelasan span{
  color: var(--color3);
}

.penjelasan .isi-penjelasan{
  color: var(--color4);
  text-align: justify;
  padding: 1rem;
  padding-right: 10rem;
  padding-left: 10rem;  
  padding-bottom: 5rem;
}

.penjelasan .isi-penjelasan :hover{
  color: var(--color4);
  scale: 1.1;
  font-weight: 700;
}

/* sekilas tentang kami */

/* judul sekilas */
.judulsekilas{
  justify-content: center;
  text-align: center;
  padding: 2rem;
}

.judulsekilas h1{
  padding-bottom: 2rem;
  color: var(--primary);
  font-weight: 650;
}

.judulsekilas span{
  color: var(--color5);
}

.judulsekilas #welcome{
  color: var(--color3);
  text-align: justify;
  padding-left: 5rem;
  padding-right: 5rem;
}

.container-gambar {
  position: relative;
  overflow: hidden;
}

.linear-atas,
.linear-bawah {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100px;
}

.linear-atas {
  background: linear-gradient(360deg, transparent, white);
  top: 0;
}

.linear-bawah {
  background: linear-gradient(transparent, white);
  bottom: 0;
}

.container-gambar img{
  justify-content: center;
  width: 100%;
  height: 100%;
}

.sekilas{
  padding-top: 5rem;
  justify-content: center;
  text-align: center;
  padding-bottom: 5rem;
}

.sekilas span{
  color: var(--color5);
}
.sekilas h1{
  font-weight: 700;
  color: var(--primary);
}

.sekilas .bawahnya{
  font-weight: 600;
  padding-bottom: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  font-size: larger;
  color: var(--color5);
}

.sekilas .jelasan{
  font-size: larger;
  color: var(--color3);
  padding-right: 5rem;
  padding-left: 5rem;
  justify-content: center;
  text-align: justify;
}

#p-sekilas{
  background-color: var(--color4);
  border-top: 10px solid var(--color5);
}

/* bantuan */
.judul-bantuan h1{
  color: var(--primary);
  text-align: center;
  padding: 5rem;
  font-weight: bold;
}

.judul-bantuan span{
  color: var(--color5);
}

.bantuan-menu{
  font-size:larger;
  justify-content: center;
  padding-left: 20rem;
  padding-right: 20rem;
}

.dropdown-btn {
  scroll-behavior: smooth;
  font-weight: bold;
  background-color: #fff;
  color: var(--primary);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.dropdown-btn:hover{
  color: var(--color5);
}

.dropdown-icon {
  font-weight: bolder;
  float: left;
  margin-right: 5px;
}

.dropdown-content {
  display: none;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content p {
  text-align: justify;
  padding-left: 47px;
  color: #797979;
  text-decoration: none;
  display: block;
}

.dropdown-content p:hover {
  color: var(--primary);
}

.dropdown.active .dropdown-content {
  display: block;
}

/* kontak */
/* judul-kontak */
.judul-kontak {
  color: #fff;
  padding: 3rem;
  background-color: #3a0081;
  text-align: center;
}

.judul-kontak h1{ 
  text-transform: uppercase;
  font-weight: 550;
}

.isi-kontak1 img{
  padding: 2rem;
}

.isi-kontak1{
  padding-top: 10rem;
}

.isi-kontak1 span{
  font-weight: bold;
  color: var(--color5);
}

.isi-kontak2,
.isi-kontak1{
  color: var(--primary);
  
  padding-left: 20rem;
}

.isi-kontak2{
  padding-top: 5rem;
}

.isi-kontak2 h2,
.isi-kontak1 h2{
  font-weight: 550;
  padding-bottom: 3rem;
}

.isi-kontak2{
  padding-bottom: 10rem;
}

/* sebelum akhir */
.kont-bawah{
  font-weight: 300;
  justify-content: center;
  padding: 5rem;
  color: var(--coloropt);
  background-color: #3a0081;
  border-bottom: 10px solid var(--color5);
  display: flex;
  flex-direction: row;
}

.kont-bawah .isinya1{
  max-width: 100rem;
  width: 30rem;
}

.kont-bawah .isinya1 p span{
  font-weight: 800;
}

.kont-bawah .isinya1 a{
  color: var(--coloropt);
  text-decoration: none;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.kont-bawah .isinya1 img{
  width: 250px;
  padding-bottom: 1.2rem;
}

.kont-bawah .isinya1 p{
  word-wrap: break-word;
  text-align: justify;
  flex-wrap: wrap;
}

.kont-bawah .isinya2 {
  padding-left: 30rem;
}

.kont-bawah .isinya2 #icon{
  width: 50px;
  height: 40px;
}

.kont-bawah .isinya2 #decul{
  font-weight: 700;
}

.kont-bawah .isinya2 a{
  color: var(--coloropt);
  text-decoration: none;
}

.kont-bawah .isinya2 .locate{
  padding-top: 1.8rem;
  padding-bottom: 2rem;
  font-weight: 900;
  font-size: larger ;
}

.kont-bawah .isinya2 .locate,
.kont-bawah .isinya2 .locate a{
  color: var(--color5);
}

.kont-bawah .isinya2 .locate :hover,
.kont-bawah .isinya2 .locate a :hover{
  color: var(--color1);
}

#p-bantuan{
  background-color: var(--color4);
}

.map {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 75%; 
}

.map-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#map-iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

/* setting */


.container {
  color: var(--color5);
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff79;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.container span{
  font-weight: bold;
  color: #5b0000;
}

.container img{
  padding: 3rem;
  width: 100%;
  border-radius:20px ;
}

.container img:hover{
  padding: 3rem;
  width: 100%;
  border-radius:20px ;
  scale: 1.1;
  scroll-behavior:smooth;
}

/* berita */
/* judul */
.judul-berita{
  padding-top: 3rem;
  text-align: center;
  color: var(--primary);
  padding-bottom: 3rem;
}

.judul-berita h1{
    font-weight: 600;
  }

  .judul-berita span{
    color: var(--color5);
  }

.container-berita{
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.card {
        flex: 0 0 18rem;
        margin-right: 20px;
        margin-bottom: 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    }

    .card .card-body{
      background-color: #3a0081;
      color: var(--color5);
    }

.card .card-body a{
  color: var(--coloropt);
  text-decoration: none;
}

.card .card-body a:hover{
  color: var(--color6);
  text-decoration: none;
}

/* info PMB */
.container-pmb{
  padding-left: 20rem;
}

.container-pmb a{
  color: var(--color3);
  text-decoration: none;
}

.container-pmb a:hover{
  color: var(--color6);
  text-decoration: none;
}

.container-pmb h3{
  font-weight: 600;
}

/* panduan */
/* emot */
  .isi-panduan{
    display: flex;
    flex-direction: row;
  }

  .isi-panduan .no-1{
    padding-left: 7rem;
    width: 250px;
    display: flex;
    flex-direction: column;
  }

  .isi-panduan .no-1 img{
    margin-bottom: 8rem;
  }

  .isi-panduan .no-2{
    padding-right: 7rem;
    padding-left: 3rem;
    text-align: justify;
  }

  .isi-panduan .no-2 .kesatu,
  .isi-panduan .no-2 .kedua,
  .isi-panduan .no-2 .ketiga,
  .isi-panduan .no-2 .keempat,
  .isi-panduan .no-2 .kelima{
    background-color: rgba(204, 204, 204, 0.4);
    border-radius: 30px;
  }

  .isi-panduan h3{
    font-weight: 600;
    color: var(--color6);
  }

  .isi-panduan p{
    color: #5b0000;
  }

  .isi-panduan p:hover{
    color: #5b0000;
    font-weight: bold;
  }

  .kesatu{
    padding: 2rem;
    gap: 5rem;
    margin-bottom: 3rem;
  }

  .kedua{
    padding: 2rem;
    margin-bottom: 5rem;
  }

  .ketiga{
    padding: 2rem;
    margin-bottom: 5rem;
  }

  .keempat{
    padding: 2rem;
    margin-bottom: 5rem;
  }

  .kelima{
    padding: 2rem;
  }

/* media queries */

/* laptop */
@media (max-width: 1366px) {
    html{
      font-size: 75%;
    }
}

/* tablet */
@media (max-width: 758px) {
  html{
    font-size: 62.5%;
  }
}

/* hp */
@media (max-width: 450px) {
  html{
    font-size: 55%;
  }
}




